*{
  font-family: 'Inter', sans-serif;
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}